**/*~
**/*swp
**/.DS_Store
**/.vs
AI_Windows/Strategy/Strategy/Debug
AI_Windows/Strategy/Strategy/Release
AI_Windows/MyTest/MyTest/x64/Debug
AI_Windows/MyTest/MyTest/x64/Release
AI_Windows/Compete/Compete/Release
AI_Windows/Compete/Compete/Debug
